# =============== #
# Unity generated #
# =============== #
obj/
UnityGenerated/
Library/
Packages/
Assets/Firebase/Plugins
Logs/
RewiredBackup/
web/
.vs/
Temp/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

